@font-face {
    font-family: Kumbh Sans;
    src: url('https://fonts.google.com/specimen/Kumbh+Sans');
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.main {
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-position: -370px -500px, 600px 350px;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(185, 75%, 39%);
}

.profile-card {
    width: 350px;
    background-color: white;
    background-image: url('images/bg-pattern-card.svg');
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-pic-container {
    border-radius: 50%;
    border: 4px solid white;
    width: 96px;
    height: 96px;
    overflow: hidden;
    margin-top: 90px;
}

.profile-name {
    font-size: 1rem;
    font-weight: 700;
    color: #1f1f1f;
    margin-right: 10px;
}

.profile-age {
    color: #6f6f6f;
}

.profile-location {
    color: #6f6f6f;
    font-size: 0.9rem;
}

.name-age-container {
    margin-top: 20px;
}

.location-container {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e9e9;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.stat-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stat {
    margin-bottom: 5px;
    font-weight: 700;
}

.stat-category {
    font-size: 0.6rem;
    color: #6f6f6f;
    letter-spacing: 1px;
}
